@font-face {
    font-family: "iconfont";
    /* Project id 3651012 */
    src: url('//at.alicdn.com/t/c/font_3651012_wqwtfpky2ws.woff2?t=1663902285408') format('woff2'), url('//at.alicdn.com/t/c/font_3651012_wqwtfpky2ws.woff?t=1663902285408') format('woff'), url('//at.alicdn.com/t/c/font_3651012_wqwtfpky2ws.ttf?t=1663902285408') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
    content: "\ec17";
}

.icon-biaoqing:before {
    content: "\e619";
}

.icon-shuaxin:before {
    content: "\e610";
}

.icon-xitongfanhui:before {
    content: "\e697";
}

.icon-zhuyi:before {
    content: "\e642";
}

.icon-yuandian:before {
    content: "\e604";
}

.icon-31sousuo:before {
    content: "\e603";
}

.icon-gengduo:before {
    content: "\e602";
}

.icon-aixin:before {
    content: "\e8ab";
}

.icon-pinglun:before {
    content: "\e8b4";
}

.icon-aixin1:before {
    content: "\e8c3";
}

.icon-fenxiang:before {
    content: "\e618";
}

.icon-daliebiao:before {
    content: "\e600";
}

.icon-16:before {
    content: "\e625";
}

.icon-geren1:before {
    content: "\e601";
}

.icon-xinfengyoujian:before {
    content: "\e6eb";
}

.icon-shoucangjia:before {
    content: "\e67c";
}

.icon-shoucangjia1:before {
    content: "\e635";
}

.icon-xinfengtianchong:before {
    content: "\e69e";
}

.icon-tongzhifill:before {
    content: "\e758";
}

.icon-geren2:before {
    content: "\e6bc";
}

.icon-tongzhi:before {
    content: "\e62d";
}

.icon-fl-jia:before {
    content: "\e624";
}

.icon-jiaoliu:before {
    content: "\e77e";
}

.icon-zhuye:before {
    content: "\e60b";
}